<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    
      <div class="d-flex flex-column">
        <a class="navbar-brand text-danger" routerLink="">Dashboard</a>
        
        <div class="navbar-nav d-flex flex-column">
       
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" routerLink="cars"
              >Montant Total des ventes</a>
          </li>

          <li class="nav-item d-flex flex-column" routerLinkActive="active">
            <a class="nav-link" routerLink="drivers">Nombre de commandes</a>
          </li>
      
      </div>
    </div>
</div>


</nav>
