<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="d-flex flex-column">
          <a class="navbar-brand text-danger" routerLink="">Dashboard</a>

          <div class="navbar-nav d-flex flex-column">
              <ul>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" aria-current="page" routerLink="montanttotaldesventes"
                >Montant Total des ventes</a
              >
            </li>
            <li class="nav-item d-flex flex-column" routerLinkActive="active">
              <a class="nav-link" routerLink="nbrcommandes">Nombre de commandes</a>
            </li>
            <li class="nav-item d-flex flex-column" routerLinkActive="active">
              <a class="nav-link" routerLink="nbrpanniers">Nombre de paniers</a>
            </li>
            <li class="nav-item d-flex flex-column" routerLinkActive="active">
              <a class="nav-link" routerLink="panniermoyen">Valeur panier moyen</a>
            </li>
            <li class="nav-item d-flex flex-column" routerLinkActive="active">
              <a class="nav-link" routerLink="nbrnewclients">Nombre de nouveaux clients</a>
            </li>
            <li class="nav-item d-flex flex-column" routerLinkActive="active">
              <a class="nav-link" routerLink="tauxabandon">Taux paniers abandonnes</a>
            </li>
            <li class="nav-item d-flex flex-column" routerLinkActive="active">
              <a class="nav-link" routerLink="tauxreccommandes">Taux recurrence commandes clients</a>
            </li>
            <li class="nav-item d-flex flex-column" routerLinkActive="active">
              <a class="nav-link" routerLink="tauxvisitepannier">Taux visites/pannier</a>
            </li>
            <li class="nav-item d-flex flex-column" routerLinkActive="active">
              <a class="nav-link" routerLink="totaltproduits">Total produits vendus</a>
            </li>
        </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
